body {
    margin: 0;
    background: #0b0b0b;
    color: white;
    font-family: system-ui;

}
header {
    display: flex;
    gap:10px;
    padding : 10px;
    background: #111;

}
button {
    background: #1e1e1e;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor:pointer;

}
button:hover {
    background: #1e1e1e;
    color: black;

}
video {
    width: 100%;
    max-height:60vh;
    background: black;

}

canvas {
    width:100%;
    height: 100px;
    background: #111;

}
#info {
    padding: 10px;
    font-size: 14px;
    opacity: 0.85;
    
}